doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  title Room Reservation
  link(href='dist/css/bootstrap.min.css' rel='stylesheet')
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
  link(href='offcanvas.css' rel='stylesheet')

main.container
  .d-flex.align-items-center.p-3.my-3.text-white.bg-purple.rounded.shadow-sm
    .lh-1
      h1.h6.mb-0.text-white.lh-1 Room Reservation App
  
  .my-3.p-3.bg-body.rounded.shadow-sm
    h6.border-bottom.pb-2.mb-0 All Rooms
    .d-flex.text-muted.pt-3
      table.table
        thead
          tr
            th(scope='col') #ID
            th(scope='col') Room number
            th(scope='col') Morning Availability
            th(scope='col') Afternoon Availability
            th(scope='col') Evening Availability
        tbody
        each n in data 
          tr
            th(scope='row')=(n.id)
            td=(n.room_number)
            td 
              if( n.morning_available === null )
                a(href='/reserve-room/'+ n.id) 
                  strong.text-gray-dark Book 
              else 
                p.text-gray-dark=`Unavailable(`+n.morning_available+`)`

            td
              if( n.afternoon_available === null )
                a(href='/reserve-room/'+ n.id) 
                  strong.text-gray-dark Book 
              else 
                p.text-gray-dark=`Unavailable(`+n.afternoon_available+`)`
            td
              if( n.evening_available === null )
                a(href='/reserve-room/'+ n.id) 
                  strong.text-gray-dark Book 
              else 
                p.text-gray-dark=`Unavailable(`+n.evening_available+`)`
  
  .my-3.p-3.bg-body.rounded.shadow-sm
    .d-flex.text-muted.pt-3
      .pb-3.mb-0.small.lh-sm.border-bottom.w-100
        .d-flex.justify-content-between
          a(href='/clear-all-reservations') 
            strong.text-gray-dark Clear All Reservations

script(src='dist/js/bootstrap.min.js')
script(src='offcanvas.js')
